In [1]:
import pandas as pd

In [2]:
# 기본 출력 시 인덱스와 값 출력. 자료형은 object 
menu = pd.Series(['비빔밥','김치찌개','된장찌개'])
menu

0     비빔밥
1    김치찌개
2    된장찌개
dtype: object

In [4]:
# 숫자를 리스트 형태로, 이를 pd.series로 감싸면 시리즈로 변경
price = pd.Series([10000,9000,8000])
price

0    10000
1     9000
2     8000
dtype: int64

In [6]:
# 데이터 프레임
pd.DataFrame({
    "메뉴" : menu,
    "가격" : price
})

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [8]:
# 시리즈를 거치지 않고 바로 데이터프레임 생성하기
df = pd.DataFrame({
    "메뉴":['비빔밥','김치찌개','된장찌개'],
    "가격":[10000,9000,8000],
    "원산지":['국내산','국내산','국내산']
})
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산
2  된장찌개   8000  국내산

In [9]:
# 데이터프레임에서 특정 컬럼만 선택해 표시 > '' 혹은 ""로 컬럼명을 묶어 표시
df['메뉴']

0     비빔밥
1    김치찌개
2    된장찌개
Name: 메뉴, dtype: object

In [10]:
# 데이터프레임에서 특정 컬럼 1개만 선택 시 시리즈 형태. 데이터 프레임으로 만들려면 한번 더 대괄호
df[['메뉴']]

     메뉴
0   비빔밥
1  김치찌개
2  된장찌개

In [11]:
# 복수의 컬럼
df[['메뉴','가격']]

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [13]:
# 데이터 저장 및 불러오기
df = pd.DataFrame({
    "메뉴":['아메리카노','카페라떼','카페모카','카푸치노','에스프레소','밀크티','녹차'],
    "가격":[4500,5000,5500,5000,4000,5900,5300],
    "칼로리":[10,110,250,110,20,210,0]
})
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [14]:
# csv로 저장
df.to_csv('temp.csv')

In [15]:
# csv 불러오기
temp_df = pd.read_csv('temp.csv')
temp_df.head()

   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20

In [20]:
# csv 저장 옵션 >> 기존 인덱스 제거
df.to_csv('cafe.csv',index=False)
df = pd.read_csv('cafe.csv')
df.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20